<div class="catalog-selector">
  <%= render_catalog_tag_tabs %>
</div>
<div>
  <%= debug(@query.filters) if Rails.env.development? && @query.present? %>
  <%= debug(params) if Rails.env.development? %>
</div>