<%= stylesheet_link_tag('issues_catalog', plugin: 'issues_catalog') %>
<%= javascript_include_tag('issues_catalog', plugin: 'issues_catalog') %>

<h3><%= @issue.id.to_s << ' : ' << @issue.subject %></h3>
<%= render_catalog_okiba(@issue) %>
