.category-label-color {
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  padding: 4px 10px;
  margin: 2px 1px;
  display: inline-block;
}

.category-label-color a {
  color: inherit;
}
.tag-label-color a {
  color: inherit;
}

.catalog-icon-clear-selected {
  background-image: url(/images/close_hl.png);
}


.autoscroll thead {
  display: block;
  /*visibility: hidden;*/
}
.autoscroll tbody {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}
.autoscroll tbody td {
  display: block;
}
.catalog-issue-top {
  display: inline-flex;
  align-items: center;
}
.catalog-issue-top a {
  margin-left: 10px;
}


.catalog-category-tabs {
  margin-top: 15px;
}
.catalog-category-tabs-area {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-around;
  cursor: pointer;
}
.catalog-category-tab {
  display: block;
  color: #999;
  padding: 4px 2px;
  font-size: medium;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.active-tab {
  color: black;
}
.catalog-category-content {
  width: 100%;
  display: none;
  border-top: 2px solid rgba(0, 0, 0, 0.2);
  margin-top: -1px;
}
.show-content {
  display: block;
}

#sidebar hr.catalog-separator {
  margin: 20px 10px;
}


/* サイドバーを左に配置 */
#main {
  flex-direction: row;
}
