.catalog-category-label {
  background-color: #ddd;
  color: black;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  padding: 4px 10px;
  margin: 2px 1px;
  display: inline-block;
}
.catalog-category-label a {
  color: inherit;
}

.catalog-tag-label {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 2px 4px;
  display: inline-block;
  margin: 1px;
}
.catalog-tag-label a {
  color: inherit;
}
.catalog-count-zero {
  color: #666;
  background-color: #ddd;
}

.catalog-my-favorite {
  padding: 4px 4px;
  display: inline-block;
  margin: 1px;
  font-size: 120%;
}
.catalog-my-favorite a {
  color: inherit;
}
.catalog-user-favorite {
  padding: 2px 4px;
  display: inline-block;
  margin: 1px;
}
.catalog-user-favorite a {
  color: inherit;
}

.catalog-icon-clear-selected {
  background-image: url(/images/close_hl.png);
}

#form-search-tag {
  background-color: azure;
  border: 1px solid aquamarine;
  border-radius: 12px;
  padding: 8px 6px;
}

.catalog-head {
  position: relative;
  margin-left: 1.5em;
  margin-top: 0.5em;
}
.catalog-btn-thumbnails {
  position: absolute;
  right: 0;
  top: 0;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  padding: 2px 8px;
  margin: 20px 10px;
  cursor: pointer;
  transition: all 0.1s;
}
.only-thumbnails {
  color: floralwhite;
  background-color: darkslategrey;
}

.catalog-select-mode-operation {
  padding-left: 15px;
  margin-top: 10px;
}
.radio-select-mode {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
}
.label-select-mode {
  display: inline-block;
  padding: 2px 8px;
  margin: 2px 0px;
  cursor: pointer;
  transition: all 0.1s;
}
.radio-select-mode:checked + .label-select-mode {
  color: mediumblue;
  background-color: lightcyan;
}

.catalog-always-selector {
  margin-top: -20px;
  margin-bottom: 10px; 
  margin-left: 1em; 
}


table.catalog-issues tbody {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}
table.catalog-issues td {
  display: block;
}
table.catalog-issues td.id {
  width: auto;
  text-align: left;
}
.catalog-issue-top {
  display: inline-flex;
  align-items: center;
}
.catalog-issue-top a {
  margin: 0em 0.6em;
}
.catalog-issue-priority {
  margin-right: 1em;
}
table.catalog-issues td.subject {
  width: 300px;
}
table.catalog-issues td.preview {
  position: relative;
}
table.catalog-issues td.tags {
  width: 300px;
}
.preview-description {
  display: none;
  position: absolute;
  padding: 5px;
  border-radius: 10px;
  color: black;
  background-color: #fff9c4;
  transition: all 0.1s;
}
.preview-description::before {
  content: '';
  position: absolute;
  top: 3%;
  right: 97%;
  border: 15px solid transparent;
  border-top: 15px solid #fff9c4;
  margin-left: -15px;
  transform: rotate(90deg);
}
td.preview:hover .preview-description {
  display: block;
  top: 0px;
  left: 30px;
}

table.catalog-tag-categories {
  width: max-content;
}
table.catalog-tags {
  width: max-content;
}
table.catalog-tags .select2 .select2-selection .select2-selection__choice__remove {
  display: none;
}

#btn-scroll-to-top {
  position: fixed;
  bottom: 10px;
  right: 10px;
  height: 50px;
  width: 50px;
  color: #fff;
  font-size: 32px;
  background-color: #999;
  border: none;
  border-radius: 50%;
  outline: none;
  transform: rotate(-90deg);
  opacity: 0;
  transition-duration: 0.5s;
}


.category-tab-contents {
  margin-top: 15px;
}
.tabs-area {
  display: block;
}
.category-tab {
  display: inline-block;
  color: #666;
  background-color: #ccc;
  padding: 4px 2px;
  font-size: medium;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  cursor: pointer;
}
.active-tab {
  color: black;
  background-color: aliceblue;
  cursor: default;
  position: relative;
}
.active-tab::before {
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  left: 0.6em;
  bottom: -7px;
  border-top: 7px solid rgba(0, 0, 0, 0.2);
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
}
.active-tab::after {
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  left: 0.6em;
  bottom: -5px;
  border-top: 7px solid aliceblue;
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
}
.category-content {
  background-color: aliceblue;
  width: 100%;
  display: none;
  border-top: 2px solid rgba(0, 0, 0, 0.2);
  margin-top: -1px;
}
.show-content {
  display: block;
}

#sidebar hr.catalog-separator {
  margin: 20px 10px;
}


/* サイドバーを左に配置 */
#main {
  flex-direction: row;
}
